<!DOCTYPE html>
<?js var that = this; ?>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><?js= this.navOptions.systemName ?> <?js= title ?></title>

	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link type="text/css" rel="stylesheet" href="styles/sunlight.<?js= this.navOptions.syntaxTheme ?>.css">

	<link type="text/css" rel="stylesheet" href="styles/site.<?js= this.navOptions.theme ?>.css">

</head>

<body>

<div class="navbar navbar-default navbar-fixed-top <?js= this.navOptions.inverseNav ? 'navbar-inverse' : '' ?>">
<div class="container">
	<div class="navbar-header">
		<a class="navbar-brand" href="<?js= this.nav.index.link ?>"><?js if(this.navOptions.logoFile) { ?><img class="branding-logo" src="<?js= this.navOptions.logoFile ?>"
		alt="logo"/><?js } ?><?js= this.nav.index.title ?></a>
	</div>
	<div class="navbar-collapse" id="topNavigation">
		<ul class="nav navbar-nav">
			<?js this.nav.topLevelNav.forEach(function(entry){ ?>
			<li class="dropdown">
				<a href="<?js= entry.link ?>" class="dropdown-toggle" data-toggle="dropdown"><?js= entry.title ?><b class="caret"></b></a>
				<ul class="dropdown-menu <?js= that.navOptions.navType ==='inline' ? 'inline' : '' ?>">
					<?js entry.members.forEach(function(member){ ?><li><?js= member ?></li><?js	}); ?>
				</ul>
			</li>
			<?js }); ?>
		</ul>
    <?js if (this.navOptions.search) { ?>
		<div class="col-sm-3 col-md-3">
        <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="q" id="search-input">
                <div class="input-group-btn">
                    <button class="btn btn-default" id="search-submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <?js } ?>
	</div>

</div>
</div>


<div class="container" id="toc-content">
<div class="row">

	<?js if(docs && docs[0].kind !== "source"){ ?>
	<div class="col-md-8">
	<?js } else { ?>
	<div class="col-md-12">
	<?js } ?>
		<div id="main">
			<?js= content ?>
		</div>
	</div>

	<div class="clearfix"></div>

	<?js if(docs && docs[0].kind !== "source"){ ?>
		<div class="col-md-3">
			<div id="toc" class="col-md-3"></div>
		</div>
	<?js } ?>

</div>
</div>

<div class="modal fade" id="searchResults">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Search results</h4>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<footer>
<?js if (that.navOptions.footer.length > 0){ ?>
	<?js= that.navOptions.footer ?>
<?js } ?>
<?js if (that.navOptions.copyright.length > 0){ ?>
	<span class="copyright">
	<?js= that.navOptions.copyright ?>
	</span>
<?js } ?>
<span class="jsdoc-message">
	Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
	on <?js= (that.moment().format(that.navOptions.dateFormat)) ?> using the <a
	href="https://github.com/docstrap/docstrap">DocStrap template</a>.
</span>
</footer>

<script src="scripts/docstrap.lib.js"></script>
<script src="scripts/toc.js"></script>
<?js if (this.navOptions.search) { ?>
<script type="text/javascript" src="scripts/fulltext-search-ui.js"></script>
<?js } ?>

<script src="scripts/extracted/highlight.js"></script>



<!--Navigation and Symbol Display-->
<?js if (this.navOptions.collapseSymbols) { ?>
<script src="scripts/extracted/nav.js"></script>
<?js } ?>

<!--Google Analytics-->
<?js if (this.navOptions.analytics && this.navOptions.analytics.ua && this.navOptions.analytics.domain) { ?>
<script src="scripts/extracted/analytics.js"></script>
<?js } ?>

<?js if (this.navOptions.search) { ?>
<script src="scripts/extracted/search.js"></script>
<?js } ?>

</body>
</html>
