benchmarks
doc
node_modules
tmp
.idea
.project
.settings
.vscode
.DS_Store
test-app/build
test-app/.gradle
test-app/gradle-local.properties
test-app/docker
test-app/containerLogs
test-app/MarkLogic

test-complete-app/build
test-complete-app/.gradle