benchmarks
doc
node_modules
tmp
.idea
.project
.settings
.vscode
.DS_Store
.gradle

docker
test-app/build
test-app/.gradle
test-app/gradle-local.properties
test-app/docker
test-app/containerLogs
test-complete-app-mlDeploy/build
test-complete-app-mlDeploy/.gradle
